.header1 {
    color: white;
}

.div1 {
    background-color: lightblue;
}

a {
    color: green;
}

.header2 {
    color: blue;
}

.doctorbold {
    color: orange;
}

.header3 {
    background-color: yellow;
}

.infernop {
    color: red;
}

.header4 {
    color: yellow;
    background-color: green;
}

.fathersdayp {
    background-color: lightgreen;
}

.doctorsdaughterdiv {
    background-color: yellow;
}

.header5 {
    color: red;
}

.doctorbluebold {
    color: blue;
}



